/*Defining variables and sass elements-------------------------------------------*/
$sizeGeral: 1rem;
$main-white: #f0f0f0;
$main-red: #be3144;
$main-gray: #303841;
$main-blue: #45567d;
$main-blue-clear: #485062;
$font-family: 'Poppins', sans-serif;

.displayFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-style{
  background-color: $main-blue;
  font-family: $font-family;
  color: $main-white;
  border: none;
}

@mixin widthHeight($width, $height){
  width: $width;
  height: $height;
}


/* Base styles ----------------------------------------------------*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: $main-white;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

a {
  text-decoration: none;
  color: $main-white;
}

img {
  display: block;
  width: 70%;
  margin-bottom: 1rem;
  justify-items: center;  
}

audio {
  padding: 2rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

/* header-----------------------------------------------------------*/
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $main-red;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: $main-blue;
  transition: 0.5s;
  border-radius: 10px;
}


/*About section ----------------------------------------------------*/
.about-section {
  @extend .displayFlexCenter;
  flex-direction: column;  
  @include widthHeight(100%, 100vh);
}

.about-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: $main-red;
}

/* Music section ----------------------------------------------------*/
.form {
  margin-bottom: 10rem;
}

.search-button{
  padding: 0.8rem;  
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 5px; 
  cursor: pointer;
  @extend .button-style;
}

.search-button:focus{
  outline: none;
}

.search-button:hover{
  background-color: #37445f;
  transition: 0.5s;
}

.previous-button, .next-button {
  padding: 1rem;
  margin: 1rem; 
  width: 15rem;  
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 5px; 
  cursor: pointer; 
  @extend .button-style;
}

.previous-button:hover, .next-button:hover {
  background-color: #37445f;
  transition: 0.5s;
}

.previous-button:focus, .next-button:focus{
  outline: none;
}

.input-search {
  @include widthHeight(40rem, 3rem);
  font-family: $font-family;
  font-size: 1.5rem;  
}

.input-search:focus{
  outline: none;
}

.warning-text{
  padding: 2rem;
}

.music-section {
  text-align: center;
  padding: 10rem 0;
}

.music-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 5rem;
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;  
}

.card-song{
  @extend .displayFlexCenter;
  flex-direction: column;  
  background-color: $main-blue-clear;
  border-radius: 10px;
}


.song-information{
  height: 17rem;
  margin: 1rem;
  font-size: 1.5rem;
}

.song-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

/*Footer------------------------------------------------------*/
.contact-section {
  @extend .displayFlexCenter;
  flex-direction: column; 
  @include widthHeight(100%, 60vh);
  border-top: 4px solid $main-red;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

.contact-links {
  @extend .displayFlexCenter;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  padding: 0 5% 0 5%;
}

.contact-details:hover {
  transform: translateY(-8px);
}

/*Media query-------------------------------------------------*/

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }

  .nav-list a {  
    font-size: 1.5rem; 
  }

  .about-section > p {
    font-size: 1.8rem;
  }

  .input-search {
    @include widthHeight(70%, 3rem);
  }
  
  .contact-section-header > h2 {
    font-size: 3rem;
  }

  .contact-details {
    font-size: 1.5rem;
  }
}


@media (max-width: 30.625em) {
  .about-section {
    padding: 6rem 1rem;
  }

  .music-grid {
    grid-template-columns: 1fr;
  }
}
